<% if(success && success.length) { %>
<div class="container">
  <div class="columns is-centered mb-5">
    <div class="column is-half">
      <div class="notification is-success has-background-success has-text-black-ter">
        <button class="delete"></button>
        <%= success %>
      </div>
    </div>
  </div>
</div>

<% } %> <% if(error && error.length) { %>
<div class="container">
  <div class="columns is-centered mb-5">
    <div class="column is-half">
      <div class="notification is-danger has-background-danger has-text-black-ter">
        <button class="delete"></button>
        <%= error %>
      </div>
    </div>
  </div>
</div>
<% } %>
