<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>dogpics</title>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered is-centered">
            <div class="column is-5">
              <h1 class="title">dogpics</h1>
              <h2 class="subtitle">pretty much just pictures of dogs</h2>
              <div class="buttons">
                <% if(!currentUser) {%>
                <a href="/register" class="button home-btn">Sign up</a>
                <a href="/login" class="button home-btn">Login</a>
                <% } %>
                <a href="/posts" class="button home-btn">View Dog Pics</a>
                <% if(currentUser) { %>
                <a href="/users/<%= currentUser._id %>" class="button home-btn"
                  >View Your Profile</a
                >
                <% } %>
              </div>
            </div>
            <div class="column is-5">
              <img src="https://images.dog.ceo/breeds/pembroke/n02113023_1825.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
