<% layout('layouts/boilerplate') %>
<form action="/login" method="POST">
  <div>
    <h1>Login</h1>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" />
  </div>
  <button>Login</button>
</form>
