<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <h1 class="title">Register for an account</h1>
        <form action="/register" method="POST">
          <div class="field">
            <label for="username">Username: </label>
            <div class="control">
              <input type="text" name="username" id="username" class="input" required />
            </div>
          </div>
          <div class="field">
            <label for="password">Password: </label>
            <div class="control">
              <input type="password" name="password" id="password" class="input" required />
            </div>
          </div>
          <button class="button is-primary is-fullwidth">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
