<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h1 class="title">Editing a Post</h1>
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST" class="validate-form">
          <div class="field">
            <label for="title">Title:</label>
            <div class="control">
              <input
                type="text"
                name="post[title]"
                id="title"
                value="<%= post.title %>"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label for="image">Image URL: </label>
            <div class="control">
              <input
                type="text"
                name="post[image]"
                id="image"
                value="<%= post.image %>"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label for="description">Description: </label>
            <div class="control">
              <textarea
                name="post[description]"
                id="description"
                cols="30"
                rows="3"
                class="textarea"
                required
              >
<%= post.description %></textarea
              >
            </div>
          </div>
          <button class="button is-primary is-fullwidth btn-form">Submit Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>
