<% layout('layouts/boilerplate') %>
<h1>ALL THE POSTS!</h1>

<% if(!currentUser) { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else { %>
<a href="/logout">logout</a>
<% }%>

<a href="/posts/new">New post</a>
<% for( let post of posts ) { %>
<p><%= post %></p>
<a href="/posts/<%=post._id%>">view</a>
<% } %>
