<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h1 class="title">New Post</h1>
        <form action="/posts" method="POST" class="validate-form-new">
          <div class="field">
            <label for="title">Title:</label>
            <div class="control">
              <input type="text" name="post[title]" id="title" class="input title-input" required />
            </div>
            <p class="validation-text help is-danger" style="display: none">
              This Field is required
            </p>
          </div>
          <div class="field">
            <label for="image">Image URL: </label>
            <div class="control">
              <input type="text" name="post[image]" id="image" class="input url-input" required />
            </div>
            <p class="validation-text help is-danger" style="display: none">
              This Field is required
            </p>
          </div>
          <div class="field">
            <label for="description">Description: </label>
            <div class="control">
              <textarea
                name="post[description]"
                id="description"
                cols="30"
                rows="3"
                class="textarea description-input"
                required
              ></textarea>
            </div>
            <p class="validation-text help is-danger" style="display: none">
              This Field is required
            </p>
          </div>
          <button class="button is-primary is-fullwidth btn-form">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
